.offer {
    background-color:#405D78;      
}

.offer h1 {
    color:#fff;
    margin-bottom: 15%;
    text-align: center;
}

@media (max-width: 350px) {        
    .offer h1 {
        font-size: 30px;
    }       
  }

.offer .centering-box {  
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
        
 }

.box-container {
    display:grid;
    grid-template-columns: 198px; 
    grid-template-rows: 194px 194px 194px 194px 194px 194px;
    gap: 63px;           
   
}

@media (min-width: 768px) {
    .offer h1 {
        margin-bottom: 10%;
        text-align: left;
    } 
    
     .box-container {
        display:grid;
        grid-template-columns: 198px 198px;
        grid-template-rows: 194px 194px 194px;
        gap: 63px;          
    }
}

@media (min-width: 1200px) {
    .offer h1 {
        margin-bottom: 15%;        
    }

    .box-container {
        display:grid;
        grid-template-columns: 198px 198px 198px;
        grid-template-rows: 194px 194px;
        gap: 63px;       
    }
} 