.about {       
    background-color:#F1F1F1;
    
}

.about .container h1 {
    font-size: 36px;
    color:#152D41;
    margin-bottom: 10%;
    text-align: center;
}

@media (max-width: 350px) {        
    .about .container h1 {
        font-size: 30px;
    }       
  }

  @media (min-width: 768px) {

    .about .container h1 {
        font-size: 36px;
        text-align: left;
        margin-bottom: 5%;
    }    
}

@media (min-width: 1200px) {
    .about .container h1 {
        margin-bottom: 50px;
    }}